<div class="flex justify-content-between m-2">
  <h1>Progaku</h1>

  <div class="flex align-items-center gap-3">
    <!-- PC幅 -->
    <ng-container
      *ngIf="currentWindowWidth > TABLET_THRESHOLD_WIDTH; else mobileContent"
    >
      <p-button
        (onClick)="onClickMemberButton()"
        label="メンバー"
        icon="pi pi-user"
        styleClass="p-button-text text-base"
      ></p-button>
      <p-button
        (onClick)="onClickMyPageButton()"
        label="マイページ"
        icon="pi pi-cog"
        styleClass="p-button-text text-base"
      ></p-button>
      <p-button
        (onClick)="onClickLogoutButton()"
        label="ログアウト"
        icon="pi pi-sign-out"
        styleClass="p-button-text text-base"
      ></p-button>
    </ng-container>

    <!-- スマホ幅 -->
    <ng-template #mobileContent>
      <p-button
        (onClick)="onClickMemberButton()"
        icon="pi pi-user"
        styleClass="p-button-rounded p-button-text"
      ></p-button>
      <p-button
        (onClick)="onClickMyPageButton()"
        icon="pi pi-cog"
        styleClass="p-button-rounded p-button-text"
      ></p-button>
      <p-button
        (onClick)="onClickLogoutButton()"
        icon="pi pi-sign-out"
        styleClass="p-button-rounded p-button-text"
      ></p-button>
    </ng-template>
  </div>
</div>
