<div class="flex justify-content-between m-2">
  <h1>Progaku</h1>

  <div class="flex align-items-center gap-3">
    <!-- PC幅 -->
    @if (currentWindowWidth > TABLET_THRESHOLD_WIDTH) {
      <p-button
        (onClick)="onClickMemberButton()"
        [text]="true"
        label="メンバー"
        icon="pi pi-user"
      ></p-button>
      <p-button
        (onClick)="onClickMyPageButton()"
        [text]="true"
        label="マイページ"
        icon="pi pi-cog"
      ></p-button>
      <p-button
        (onClick)="onClickLogoutButton()"
        [text]="true"
        label="ログアウト"
        icon="pi pi-sign-out"
      ></p-button>
    } @else {
      <!-- スマホ幅 -->
      <p-button
        (onClick)="onClickMemberButton()"
        [text]="true"
        [rounded]="true"
        icon="pi pi-user"
      ></p-button>
      <p-button
        (onClick)="onClickMyPageButton()"
        [text]="true"
        [rounded]="true"
        icon="pi pi-cog"
      ></p-button>
      <p-button
        (onClick)="onClickLogoutButton()"
        [text]="true"
        [rounded]="true"
        icon="pi pi-sign-out"
      ></p-button>
    }
  </div>
</div>
