<p-card>
  <ng-template pTemplate="title">
    <div class="flex flex-row gap-2">
      <div>{{ memberInfo.nickname }}</div>
    </div>
  </ng-template>

  <div class="flex flex-row gap-3">
    <p-image
      [src]="memberInfo.iconImage ?? 'assets/no-image.png'"
      [imageStyle]="{ borderRadius: '10px' }"
      [width]="imageWidth"
    ></p-image>

    <div class="flex flex-column gap-2">
      <app-item-list title="誕生日">
        @if (memberInfo.birthday) {
          <p>{{ memberInfo.birthday | date: 'yyyy/MM/dd' }}</p>
        } @else {
          <p>????/??/??</p>
        }
      </app-item-list>

      <app-item-list title="都道府県">
        <p>{{ memberInfo.prefectures }}</p>
      </app-item-list>

      <app-item-list title="技術">
        <div class="flex align-items-center gap-2 flex-wrap">
          @for (tech of displayTechs; track tech) {
            <p-chip [label]="tech"></p-chip>
          }
          @if (isOverTechsMaxCount) {
            <span>...and more</span>
          }
        </div>
      </app-item-list>
    </div>
  </div>
</p-card>
