<p-card>
  <ng-template pTemplate="title">
    <div class="flex flex-row gap-2 align-items-center">
      <div>{{ memberDetail.nickname }}</div>
    </div>
  </ng-template>
  <div class="flex flex-row flex-wrap gap-6">
    <p-image [src]="iconImagePath ?? 'assets/no-image.png'" [width]="imageWidth"></p-image>
    <div class="flex flex-column gap-2">
      @if (memberDetail.twitterUserId !== null) {
        <app-item-list
          title="X(twitter)"
        >
          <p>{{ memberDetail.twitterUserId }}</p>
        </app-item-list>

      }

      <app-item-list title="誕生日">
        @if (memberDetail.birthday) {
          <p>{{ memberDetail.birthday | date: 'yyyy/MM/dd' }}</p>
        } @else {
          <p>????/??/??</p>
        }
      </app-item-list>

      <app-item-list title="都道府県">
        <p>{{ memberDetail.prefectures }}</p>
      </app-item-list>

      <app-item-list title="技術">
        <div class="flex align-items-center gap-2 flex-wrap">
          @for (tech of memberDetail.techs; track tech) {
            <p-chip [label]="tech"></p-chip>
          }
        </div>
      </app-item-list>

      <app-item-list title="Progakuに参加した理由">
        <div>
          {{ memberDetail.participationReason }}
        </div>
      </app-item-list>

      <app-item-list title="趣味">
        <div class="flex align-items-center gap-2 flex-wrap">
          @for (h of memberDetail.hobby; track h) {
            <p-chip [label]="h"></p-chip>
          }
        </div>
      </app-item-list>

      <app-item-list title="何でも記載">
        <div>
          {{ memberDetail.description }}
        </div>
      </app-item-list>
    </div>
  </div>
</p-card>
